{% extends 'base.html.twig' %}

{% block body %}
	<div class="jumbotron">
		<h1 class="display-4">Error 403 !</h1>
		<p class="lead">Access error</p>
		<hr class="my-4">
		<p>
			The requested page need acount auth. 
			<a class="btn btn-outline-info" href="{{ path('flight_index') }}" role="button">Return Accueil</a>
		</p>
	</div>
{% endblock %}